<h1>Profiles controller, edit action</h1>
<pre>curl -X PUT -H 'Content-Type: application/json' <%= link_to_get_profile(@profile) %> -d '<%=@profile.to_json %>'</pre>

<%= form :action => url(:controller => 'profiles', :action => 'update', :id => @profile.id), :id => 'profile-form' do %>
  <%= partial 'form' %>
<% end =%>

<%= link_to 'Back', url(:profile, @profile.id) %>
