<h2><%= link_to 'New Profile', url(:new_profile) %></h2>
<h2>All Profiles</h2>
<pre>curl -X GET <%= link_to_all_posts %></pre>

<ul>
<%- @profiles.each do |profile| -%>
  <li><tt><%=link_to profile.id, link_to_couchdb(profile) %></tt><%= link_to profile.name, url(:profile, profile.id) %></li>
<%- end -%>
</ul>

<h2>Push to <%=h OTHER_DB %></h2>
<pre>curl -X POST -H 'Content-Type: application/json' <%= link_to_replicate %> -d '<%= Profile.replicate %>'</pre>

<h2>Pull from <%=h OTHER_DB %></h2>
<pre>curl -X POST -H 'Content-Type: application/json' <%= link_to_replicate %> -d '<%= Profile.replicate({:source => COUCHDB, :target => OTHER_DB}) %>'</pre>
    

