<h2>Profile for <%=h @profile.name %></h2>

<%= link_to 'Edit', url(:edit_profile, @profile.id) %>

<div class="profile">
  <ul>
    <li class="profile-name"><span>Name:</span> <%=h @profile.name %></li>
    <li class="profile-contact-info"><span>Contact:</span>
      <ul>
        <%- @profile['contact_info'].each_pair do |contact, info| %>
          <li><span><%=h contact %>:</span> <%=h info %></li>
        <%- end if @profile['contact_info'] %>
      </ul>
    </li>
    <li class="profile-skills"><span>Skills:</span>
      <table>
        <thead>
          <tr>
          <th>Skill</th>
          <th>Expertise</th>
          <th>Since</th>
        </tr>
        </thead>
        <tbody>
          <%- @profile['skills'].each do |skill| -%>
            <tr>
              <td><%= skill.skill %></td> 
              <td><%= skill.expertise %></td>  
              <td><%= time_ago_in_words(skill.skilled_since) %></td>
            </tr>
          <%- end if @profile['skills']-%>
        </tbody>
      </table>
    </li>
  </ul>
</div>

<%= link_to 'Back', url(:profiles) %>
